In [29]:
import pandas as pd
import numpy as np


# 创建示例数据
np.random.seed(123)
station_ids = np.random.randint(0, 367, size=1000)
dates = pd.date_range(start='2023-01-16', end='2023-02-12', freq='D')

# 创建包含所有可能组合的 DataFrame
df1 = pd.DataFrame({'station_id': np.repeat(station_ids, len(dates)),
                   'date': np.tile(dates, len(station_ids))})
# 去除重复的行，确保相同的 station_id 和 date 只有一行数据
df1 = df1.drop_duplicates(subset=['station_id', 'date'])
# 为每个组合生成随机的 count
df1['count'] = np.random.randint(0, 10, size=len(df1))

df1.to_csv('input/mr_o_count.csv')
df1.sort_values(['station_id','date'],inplace=True)
df1


# 创建示例数据
np.random.seed(125)
station_ids = np.random.randint(0, 367, size=1000)
dates = pd.date_range(start='2023-01-16', end='2023-02-12', freq='D')

# 创建包含所有可能组合的 DataFrame
df2 = pd.DataFrame({'station_id': np.repeat(station_ids, len(dates)),
                   'date': np.tile(dates, len(station_ids))})
# 去除重复的行，确保相同的 station_id 和 date 只有一行数据
df2 = df2.drop_duplicates(subset=['station_id', 'date'])
# 为每个组合生成随机的 count
df2['count'] = np.random.randint(0, 10, size=len(df2))

df2.sort_values(['station_id','date'])

df2.to_csv('input/mr_d_count.csv')
df2.sort_values(['station_id','date'],inplace=True)
df2



# 使用筛选条件提取日期为 2023-01-16 的数据
o_2023_01_16 = df1[df1['date'] == pd.to_datetime('2023-01-16')]
d_2023_01_16 = df2[df2['date'] == pd.to_datetime('2023-01-16')]


# 计算 count 列的总和
o_count_sum = o_2023_01_16['count'].sum()
d_count_sum = d_2023_01_16['count'].sum()

# 将 count 列的值除以总和，得到归一化后的 prob 列
o_2023_01_16['prob'] = o_2023_01_16['count'] / o_count_sum
d_2023_01_16['prob'] = d_2023_01_16['count'] / d_count_sum
# o_2023_01_16 = o_2023_01_16.rename(columns={'station_id': 'station_id', 'prob': 'prob'})

o_2023_01_16.to_csv('input/mr_o_prob.csv')
o_2023_01_16.to_csv('input/mr_d_prob.csv')

/var/folders/p9/yqjz85994xb5q9_xqzc25_wc0000gn/T/ipykernel_24390/1338001678.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_2023_01_16['prob'] = o_2023_01_16['count'] / o_count_sum
/var/folders/p9/yqjz85994xb5q9_xqzc25_wc0000gn/T/ipykernel_24390/1338001678.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_2023_01_16['prob'] = d_2023_01_16['count'] / d_count_sum

In [54]:
df1_avg = df1.groupby('station_id')['count'].sum().reset_index()
df1_avg['avg'] = df1_avg['count']/28
df2_avg = df2.groupby('station_id')['count'].sum().reset_index()
df2_avg['avg'] = df2_avg['count']/28
# 将 count 列的值除以总和，得到归一化后的 prob 列
df1_avg['prob'] = df1_avg['count'] / o_count_sum
df2_avg['prob'] = df2_avg['count'] / d_count_sum
# o_2023_01_16 = o_2023_01_16.rename(columns={'station_id': 'station_id', 'prob': 'prob'})

df1_avg.to_csv('input/mr_o_prob.csv')
df2_avg.to_csv('input/mr_d_prob.csv')
df1_avg
df2_avg

     station_id  count       avg      prob
0             0    116  4.142857  0.074169
1             1    129  4.607143  0.082481
2             2    135  4.821429  0.086317
3             3    115  4.107143  0.073529
4             4    124  4.428571  0.079284
..          ...    ...       ...       ...
336         362    118  4.214286  0.075448
337         363    132  4.714286  0.084399
338         364    145  5.178571  0.092711
339         365    113  4.035714  0.072251
340         366    118  4.214286  0.075448

[341 rows x 4 columns]

In [57]:
df1_avg
df2_avg

     station_id  count       avg      prob
0             0    116  4.142857  0.074169
1             1    129  4.607143  0.082481
2             2    135  4.821429  0.086317
3             3    115  4.107143  0.073529
4             4    124  4.428571  0.079284
..          ...    ...       ...       ...
336         362    118  4.214286  0.075448
337         363    132  4.714286  0.084399
338         364    145  5.178571  0.092711
339         365    113  4.035714  0.072251
340         366    118  4.214286  0.075448

[341 rows x 4 columns]

In [35]:

from datetime import datetime

start_date = datetime.strptime('2023-01-16', '%Y-%m-%d')
end_date = datetime.strptime('2023-02-12', '%Y-%m-%d')

days = (end_date - start_date).days + 1

print(days)

28

In [25]:

o_2023_01_16

/var/folders/p9/yqjz85994xb5q9_xqzc25_wc0000gn/T/ipykernel_24390/3110648853.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  o_2023_01_16['prob'] = o_2023_01_16['count'] / o_count_sum
/var/folders/p9/yqjz85994xb5q9_xqzc25_wc0000gn/T/ipykernel_24390/3110648853.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_2023_01_16['prob'] = d_2023_01_16['count'] / d_count_sum

       station_id       date  count      prob
13076           0 2023-01-16      4  0.002745
2156            1 2023-01-16      9  0.006177
756             2 2023-01-16      5  0.003432
2324            3 2023-01-16      2  0.001373
7280            4 2023-01-16      2  0.001373
...           ...        ...    ...       ...
14056         362 2023-01-16      8  0.005491
19292         363 2023-01-16      9  0.006177
3640          364 2023-01-16      3  0.002059
0             365 2023-01-16      8  0.005491
2828          366 2023-01-16      0  0.000000

[338 rows x 4 columns]

In [26]:
d_2023_01_16

       station_id       date  count      prob
12208           0 2023-01-16      7  0.004476
8176            1 2023-01-16      6  0.003836
7252            2 2023-01-16      4  0.002558
19600           3 2023-01-16      4  0.002558
4228            4 2023-01-16      5  0.003197
...           ...        ...    ...       ...
3752          362 2023-01-16      8  0.005115
1064          363 2023-01-16      6  0.003836
560           364 2023-01-16      3  0.001918
4732          365 2023-01-16      3  0.001918
13328         366 2023-01-16      4  0.002558

[341 rows x 4 columns]